<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Free Gift Registration</title>

        <component name="sw-entity-single-select">
            <name>freeGiftProduct</name>
            <entity>product</entity>
            <label>Select Free Gift Product</label>
            <placeholder>Select a product...</placeholder>
        </component>

    </card>

</config>
