{% block swag_bundle_list %}
    <sw-page class="swag-example-list">
        {{ dump($tc) }}
        {% block swag_example_list_smart_bar_action %}
            <template #smart-bar-actions>
                <sw-button
                    variant="primary"
                    :routerLink="{name: 'swag.example.create'}"
                >
                    {{ $tc('swag-example.list.addButtonText') }}
                </sw-button>
            </template>
        {% endblock %}
        <template #content>
            {% block swag_example_list_content %}
                <sw-entity-listing
                    v-if="shops"
                    :items="shops"
                    :repository="repository"
                    :showSelection="false"
                    :columns="columns"
                    detailRoute="swag.example.detail"
                >
                </sw-entity-listing>
                <p v-else>No shops found</p>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
